// Colors
$color_white: #fff;
$color_yellow: #D5DB1E;
$color_black: #111;
$color_lightgrey: #eee;
$color_grey: #DFDFDF;
$color_darkgrey: #646464;

// Breakpoints
$bp_laptop: 1024px;
$bp_tablet: 768px;
$bp_mobile: 425px;